html * {
    font-family: sans-serif;
}

img {
    max-width: 35px;
}

.navbar-custom {
    background-color: #4F709C; /* Cambiar color de fondo */
}

.navbar-custom .nav > li > a {
    color: #F0F0F0; /* Cambiar color del texto */
}

.navbar-custom .nav > li > a:hover {
    background-color: #47658c;
    color: #F0F0F0;
}

.custom-flash {
    width: 300px; /* Cambia el ancho según tus necesidades */
    height: auto; /* Permite que la altura se ajuste automáticamente al contenido */
    text-align: center; /* Centra el texto horizontalmente */
    position: fixed; /* Cambia la posición del mensaje a fija */
    top: 55px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 20px; /* Centra horizontalmente el mensaje */
    z-index: 1000; /* Ajusta la posición en la pila de capas si es necesario */
}

.custom-flash .close {
    position: absolute;
    right: 15px;
    top: 15px;
}

.align-center {
    text-align: center;
}

.vertical-spacing {
    margin-top: 10px;
    margin-bottom: 10px;
}

.vertical-spacing {
    margin-top: 10px;
    margin-bottom: 10px;
}

.horizontal-spacing {
    margin-right: 1em;
    margin-left: 1em;
}

.align-login {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 2.5%;
}

.form-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div-form-container {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
}

.right-align {
    margin-left: auto; /* Alinea el div a la derecha */
}

/* main.css */
.custom-input {
    /* Cambia los estilos de los campos de formulario, por ejemplo, el color de fondo */
    background-color: #EFEFEF; /* Cambia el color de fondo a gris claro */
    color: #333; /* Cambia el color del texto a negro */
    /* Agrega cualquier otro estilo personalizado que desees */
}

.custom-button {
    /* Cambia los estilos del botón, por ejemplo, el color de fondo y el color del texto */
    background-color: #007BFF; /* Cambia el color de fondo a azul */
    color: #FFFFFF; /* Cambia el color del texto a blanco */
    /* Agrega cualquier otro estilo personalizado que desees */
}
