{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_todo(todo, delete_form, update_form) %}
    <li class="list-group-item">
        <div class="form-align-center">
            <div style="margin-right: auto">
                <!-- Muestra la descripción -->
                Description: {{ todo.to_dict().description }}
            </div>
            <div class="row form-align-center">
                <div class="col">
                    <!-- Formulario de eliminación -->
                    {{ wtf.quick_form(delete_form, action=url_for('delete', todo_id=todo.id)) }}
                </div>
                <div class="col">
                    <!-- Formulario de actualización -->
                    {{ wtf.quick_form(update_form, action=url_for('update', todo_id=todo.id, done=todo.to_dict().done)) }}
                </div>
                <div class="col horizontal-spacing">
                    <!-- Insignia de estado -->
                    <span class="badge">{{ todo.to_dict().done }}</span>
                </div>
            </div>
        </div>
    </li>
{% endmacro %}
